.select2-container--default .select2-selection--single .select2-selection__rendered {
    /*background-color: #fff;
    color: #333;
    border: 0px solid blue !important;*/
    line-height: 1.25;
    background-color: #fff;
    color: #333;
    /*border: 1px solid rgba(0,0,0,.15);*/
}

.select2-container--default .select2-selection--single{
    border-radius: 0 2px 2px 0;
}

.select2-container--default .select2-selection--single .select2-selection__arrow{
    top: 0;
}
.select2-container--default .select2-selection--single {
    border: 1px solid #ccc;
    height: auto;

}
.select2-container--default .select2-selection--single .select2-selection__arrow b{
    border-color: #888 transparent transparent transparent;
}
.select2-container--default .select2-results__option--highlighted[aria-selected] {
    background-color: #8ec63f;
}

.icon-dashboard{
    font-size: 3em;
}

.user-card2 .snd  span:after{
    background-color: #8ec63f;


}

.user-card2 .snd1  span:after{
    background-color: #e79719;


}
.xdsoft_datetimepicker{

    /*position: relative;*/ z-index: 11000 !important;
}
.back {
    color: #155f53;
}
